.motion-chart
  %h1 脳梗塞の病院別患者数および平均在院日数
  = link_to 'トップ', root_path
  %p#chart
  %p{style: 'width: 1000px; text-align: center;'}
    %span{style: 'color: #ff7f0e'} ● 北海道
    %span{style: 'color: #2ca02c'} ● 東北
    %span{style: 'color: #d62728'} ● 関東
    %span{style: 'color: #9467bd'} ● 中部
    %span{style: 'color: #8c564b'} ● 近畿
    %span{style: 'color: #e377c2'} ● 中国
    %span{style: 'color: #7f7f7f'} ● 四国
    %span{style: 'color: #bcbd22'} ● 九州
%script{src: "http://d3js.org/d3.v3.min.js"}
= javascript_tag do
  = render 'sample2.js'